# Object files
*.o
*.ko
*.obj
*.elf
*.mk

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Archivos/directorios especificos
consola/Debug/consola
consola/Debug/src/
cpu/Debug/cpu
cpu/Debug/src/
file-system/Debug/file-system
file-system/Debug/src/
memoria/Debug/memoria
memoria/Debug/src/
kernel/Debug/kernel
kernel/Debug/src/
shared-library/Debug/shared-library/
*.log
